## **1. Load Machine Learning Model**

In [1]:
import os
from modelling import FraudModel

path = os.getcwd()
path = path + "\\modelling\\"
path

'C:\\Users\\Andhika W\\Digital Skola\\Data Engineer Bootcamp\\Project4\\modelling\\'

## **2. Load Data Old Information From PostgreSQL**

In [3]:
import pandas as pd
import urllib.parse
from sqlalchemy import create_engine

# Informasi koneksi ke PostgreSQL
username = "postgres"
password = "postgres"
host = "localhost"
port = "5432"
database = "postgres"
password = urllib.parse.quote_plus(password)

# URL koneksi ke PostgreSQL
db_url = f"postgresql://{username}:{password}@{host}:{port}/{database}"
engine = create_engine(db_url)

df = pd.read_sql_query('SELECT * FROM old_information;', engine)
df.head(5)

      nameOrig  oldbalanceOrg     nameDest  oldbalanceDest
0  C1231006815       170136.0  M1979787155             0.0
1  C1666544295        21249.0  M2044282225             0.0
2  C1305486145          181.0   C553264065             0.0
3   C840083671          181.0    C38997010         21182.0
4  C2048537720        41554.0  M1230701703             0.0

## **3. Build Connection MongoDB**

In [4]:
from pymongo import MongoClient

try:
    server = MongoClient('mongodb://admin:password@34.142.138.97:27017/')
    db = server.admin
    server_status = db.command("ping")
    print("MongoDB connection successful:", server_status)

    databases = server.list_database_names()
    print("Databases:", databases)

except Exception as e:
    print("An error occurred:", e)

MongoDB connection successful: {'ok': 1.0}
Databases: ['admin', 'config', 'ftde02', 'local']

## **4. Load Data New Information From Kafka Producer**

In [ ]:
1. Ambil Data dari Kafka Producer
2. Merge / Join dengan Data dari PostgreSQL
3. Prediksi Transaksi
4. Insert kedalam MongoDB

In [6]:
import warnings
warnings.filterwarnings("ignore")

In [ ]:
import json
from kafka import KafkaConsumer

if __name__ == "__main__":
    consumer = KafkaConsumer("ftde02-project4", bootstrap_servers='34.142.138.97')
    print("Starting the consumer")
    
    for msg in consumer:
        print(f"Records = {json.loads(msg.value)}")
        
        # Parsing pesan Kafka
        data = json.loads(msg.value)
        produder = pd.DataFrame([data])
        
        #join old information di postgreSQL
        data = produder.merge(df, how='inner', on=['nameOrig','nameDest'])

        data_predict = data.drop(['nameOrig','nameDest'], axis=1)
        data_predict = data_predict.to_dict('index')[0]

        result = FraudModel.runModel(data_predict, path)
        data['predict'] = result
        
        #insert mongodb
        db = server["ftde02"]
        collection = db["mongo-project4-andhika"]

        if isinstance(data.to_dict('index')[0], list):
            collection.insert_many(data.to_dict('index')[0])
        else:
            collection.insert_one(data.to_dict('index')[0])        
            print("Data telah disimpan ke MongoDB")

Starting the consumer
Records = {'step': 1, 'type': 'TRANSFER', 'amount': 177652.91, 'nameOrig': 'C753631393', 'newbalanceOrig': 0.0, 'nameDest': 'C716157500', 'newbalanceDest': 4894.45}
Data telah disimpan ke MongoDB
Records = {'step': 1, 'type': 'PAYMENT', 'amount': 5443.26, 'nameOrig': 'C1262869688', 'newbalanceOrig': 231553.74, 'nameDest': 'M1914108708', 'newbalanceDest': 0.0}
Data telah disimpan ke MongoDB
Records = {'step': 1, 'type': 'PAYMENT', 'amount': 244.87, 'nameOrig': 'C544386226', 'newbalanceOrig': 257733.62, 'nameDest': 'M1357700757', 'newbalanceDest': 0.0}
Data telah disimpan ke MongoDB
Records = {'step': 1, 'type': 'PAYMENT', 'amount': 8281.57, 'nameOrig': 'C900298796', 'newbalanceOrig': 249452.05, 'nameDest': 'M1889757798', 'newbalanceDest': 0.0}
Data telah disimpan ke MongoDB
Records = {'step': 1, 'type': 'PAYMENT', 'amount': 1175.59, 'nameOrig': 'C1166106620', 'newbalanceOrig': 19333.41, 'nameDest': 'M1932470703', 'newbalanceDest': 0.0}
Data telah disimpan ke MongoDB
Records = {'step': 1, 'type': 'PAYMENT', 'amount': 1097.74, 'nameOrig': 'C221861886', 'newbalanceOrig': 23768.26, 'nameDest': 'M1713568869', 'newbalanceDest': 0.0}
Data telah disimpan ke MongoDB
Records = {'step': 1, 'type': 'TRANSFER', 'amount': 184986.8, 'nameOrig': 'C697508322', 'newbalanceOrig': 0.0, 'nameDest': 'C1688019098', 'newbalanceDest': 97263.78}
Data telah disimpan ke MongoDB
Records = {'step': 1, 'type': 'PAYMENT', 'amount': 1718.29, 'nameOrig': 'C603658030', 'newbalanceOrig': 116092.71, 'nameDest': 'M1689924104', 'newbalanceDest': 0.0}
Data telah disimpan ke MongoDB
Records = {'step': 1, 'type': 'PAYMENT', 'amount': 3671.32, 'nameOrig': 'C361380654', 'newbalanceOrig': 96422.68, 'nameDest': 'M631673932', 'newbalanceDest': 0.0}
Data telah disimpan ke MongoDB
Records = {'step': 1, 'type': 'DEBIT', 'amount': 3580.26, 'nameOrig': 'C1579132337', 'newbalanceOrig': 0.0, 'nameDest': 'C1321640594', 'newbalanceDest': 18910.85}
Data telah disimpan ke MongoDB
Records = {'step': 1, 'type': 'PAYMENT', 'amount': 8550.9, 'nameOrig': 'C1795225096', 'newbalanceOrig': 31509.1, 'nameDest': 'M790094605', 'newbalanceDest': 0.0}
Data telah disimpan ke MongoDB
Records = {'step': 1, 'type': 'PAYMENT', 'amount': 9753.55, 'nameOrig': 'C1048712791', 'newbalanceOrig': 51075.45, 'nameDest': 'M487792155', 'newbalanceDest': 0.0}
Data telah disimpan ke MongoDB
Records = {'step': 1, 'type': 'PAYMENT', 'amount': 3026.98, 'nameOrig': 'C1909398279', 'newbalanceOrig': 28112.02, 'nameDest': 'M1632670136', 'newbalanceDest': 0.0}
Data telah disimpan ke MongoDB
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 467177.03, 'nameOrig': 'C1338905451', 'newbalanceOrig': 0.0, 'nameDest': 'C1170794006', 'newbalanceDest': 22190.99}
Data telah disimpan ke MongoDB
Records = {'step': 1, 'type': 'DEBIT', 'amount': 3875.99, 'nameOrig': 'C1252540239', 'newbalanceOrig': 255262.01, 'nameDest': 'C1509514333', 'newbalanceDest': 2415.16}
Data telah disimpan ke MongoDB
Records = {'step': 1, 'type': 'PAYMENT', 'amount': 2148.89, 'nameOrig': 'C1136005694', 'newbalanceOrig': 29064.11, 'nameDest': 'M638486177', 'newbalanceDest': 0.0}
Data telah disimpan ke MongoDB
Records = {'step': 1, 'type': 'PAYMENT', 'amount': 466.97, 'nameOrig': 'C426019904', 'newbalanceOrig': 79563.03, 'nameDest': 'M314411620', 'newbalanceDest': 0.0}
Data telah disimpan ke MongoDB
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 154139.72, 'nameOrig': 'C1642679791', 'newbalanceOrig': 0.0, 'nameDest': 'C564160838', 'newbalanceDest': 1254956.07}
Data telah disimpan ke MongoDB
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 82685.93, 'nameOrig': 'C855700733', 'newbalanceOrig': 0.0, 'nameDest': 'C392292416', 'newbalanceDest': 3420103.09}
Data telah disimpan ke MongoDB
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 83857.23, 'nameOrig': 'C247162961', 'newbalanceOrig': 0.0, 'nameDest': 'C1297685781', 'newbalanceDest': 16997.22}
Data telah disimpan ke MongoDB
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 99109.77, 'nameOrig': 'C1890266440', 'newbalanceOrig': 0.0, 'nameDest': 'C1297685781', 'newbalanceDest': 16997.22}
Data telah disimpan ke MongoDB
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 187726.67, 'nameOrig': 'C1527152775', 'newbalanceOrig': 0.0, 'nameDest': 'C747464370', 'newbalanceDest': 1567434.81}
Data telah disimpan ke MongoDB
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 281339.92, 'nameOrig': 'C1863655430', 'newbalanceOrig': 0.0, 'nameDest': 'C1509514333', 'newbalanceDest': 2415.16}
Data telah disimpan ke MongoDB
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 186447.51, 'nameOrig': 'C976827477', 'newbalanceOrig': 0.0, 'nameDest': 'C1590550415', 'newbalanceDest': 19169204.93}
Data telah disimpan ke MongoDB
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 81029.86, 'nameOrig': 'C324112183', 'newbalanceOrig': 0.0, 'nameDest': 'C288665596', 'newbalanceDest': 8496.61}
Data telah disimpan ke MongoDB
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 139054.95, 'nameOrig': 'C2092709730', 'newbalanceOrig': 0.0, 'nameDest': 'C1749186397', 'newbalanceDest': 277515.05}
Data telah disimpan ke MongoDB
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 154716.2, 'nameOrig': 'C980364771', 'newbalanceOrig': 0.0, 'nameDest': 'C453211571', 'newbalanceDest': 3461666.05}
Data telah disimpan ke MongoDB
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 53631.83, 'nameOrig': 'C1233595751', 'newbalanceOrig': 0.0, 'nameDest': 'C757108857', 'newbalanceDest': 0.0}
Data telah disimpan ke MongoDB
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 289645.52, 'nameOrig': 'C1446001495', 'newbalanceOrig': 0.0, 'nameDest': 'C1023714065', 'newbalanceDest': 1412484.09}
Data telah disimpan ke MongoDB
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 267148.82, 'nameOrig': 'C1261044180', 'newbalanceOrig': 0.0, 'nameDest': 'C401424608', 'newbalanceDest': 1178808.14}
Data telah disimpan ke MongoDB
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 47913.58, 'nameOrig': 'C141110631', 'newbalanceOrig': 0.0, 'nameDest': 'C240650537', 'newbalanceDest': 0.0}
Data telah disimpan ke MongoDB
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 193605.38, 'nameOrig': 'C2029372696', 'newbalanceOrig': 0.0, 'nameDest': 'C1971489295', 'newbalanceDest': 0.0}
Data telah disimpan ke MongoDB
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 344464.4, 'nameOrig': 'C793293778', 'newbalanceOrig': 0.0, 'nameDest': 'C766572210', 'newbalanceDest': 0.0}
Data telah disimpan ke MongoDB
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 169409.87, 'nameOrig': 'C888611662', 'newbalanceOrig': 0.0, 'nameDest': 'C401424608', 'newbalanceDest': 1178808.14}
Data telah disimpan ke MongoDB
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 25793.74, 'nameOrig': 'C1966355106', 'newbalanceOrig': 0.0, 'nameDest': 'C476800120', 'newbalanceDest': 49864.36}
Data telah disimpan ke MongoDB
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 114712.48, 'nameOrig': 'C599782425', 'newbalanceOrig': 0.0, 'nameDest': 'C1209271652', 'newbalanceDest': 0.0}
Data telah disimpan ke MongoDB
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 89038.75, 'nameOrig': 'C1233327519', 'newbalanceOrig': 0.0, 'nameDest': 'C2083562754', 'newbalanceDest': 1186556.81}
Data telah disimpan ke MongoDB
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 1341.58, 'nameOrig': 'C1155769010', 'newbalanceOrig': 0.0, 'nameDest': 'C557041912', 'newbalanceDest': 557537.26}
Data telah disimpan ke MongoDB
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 44443.08, 'nameOrig': 'C269892014', 'newbalanceOrig': 0.0, 'nameDest': 'C1590550415', 'newbalanceDest': 19169204.93}
Data telah disimpan ke MongoDB
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 34729.64, 'nameOrig': 'C1280641161', 'newbalanceOrig': 0.0, 'nameDest': 'C1435804085', 'newbalanceDest': 96.88}
Data telah disimpan ke MongoDB
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 105979.34, 'nameOrig': 'C489411441', 'newbalanceOrig': 0.0, 'nameDest': 'C736709391', 'newbalanceDest': 46820.71}
Data telah disimpan ke MongoDB
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 57794.61, 'nameOrig': 'C1141113940', 'newbalanceOrig': 0.0, 'nameDest': 'C240650537', 'newbalanceDest': 0.0}
Data telah disimpan ke MongoDB

Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 15918.79, 'nameOrig': 'C1711185459', 'newbalanceOrig': 0.0, 'nameDest': 'C1854778591', 'newbalanceDest': 0.0}
Data telah disimpan ke MongoDB
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 19162.08, 'nameOrig': 'C25936709', 'newbalanceOrig': 0.0, 'nameDest': 'C885951223', 'newbalanceDest': 215851.28}
Data telah disimpan ke MongoDB
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 220691.42, 'nameOrig': 'C1123559518', 'newbalanceOrig': 0.0, 'nameDest': 'C1590550415', 'newbalanceDest': 19169204.93}
Data telah disimpan ke MongoDB
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 9536.54, 'nameOrig': 'C649769713', 'newbalanceOrig': 0.0, 'nameDest': 'C1060830840', 'newbalanceDest': 130747.56}
Data telah disimpan ke MongoDB
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 29784.06, 'nameOrig': 'C925150995', 'newbalanceOrig': 0.0, 'nameDest': 'C920011586', 'newbalanceDest': 0.0}
Data telah disimpan ke MongoDB
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 190445.51, 'nameOrig': 'C1760219993', 'newbalanceOrig': 0.0, 'nameDest': 'C1360767589', 'newbalanceDest': 2107965.39}
Data telah disimpan ke MongoDB
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 57279.11, 'nameOrig': 'C1800649922', 'newbalanceOrig': 0.0, 'nameDest': 'C824009085', 'newbalanceDest': 64106.18}
Data telah disimpan ke MongoDB